body {
  background-color: grey;
  margin: 0;
}
header {
  width: 100%;
  text-align: center;
  background-color: darkgray;
  padding: 1em;
  box-shadow: 0px 0px 25px black;
}
.header-create-post-btn button {
  font-size: 120%;
  border-radius: 20em;
  padding: 0.5em;
  width: 15%;
  box-shadow: 0px 5px 5px black;
  background-color: rgb(167, 214, 167);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  padding: 2em;
}

/* ------ Posts (grid) ------ */
.post-grid {
  /* background-color: darkgray; */
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  column-gap: 1em;
}
@media (min-width: 630px) {
  .post-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 930px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.post-item {
  display: grid;
  background-color: darkgray;
  box-shadow: 0px 0px 15px black;
  padding: 10px;
  border-radius: 1.5em;
  text-align: center;
  height: 100%;
}
.post-item img {
  height: 8em;
}
#post_title {
  font-size: 110%;
  font-weight: bold;
}
.post-item button {
  border-radius: 10em;
  box-shadow: 0px 5px 5px black;
  position: relative;
  top: 5%;
}
#delete-btn {
  background-color: rgb(221, 161, 161);
}
#update-btn {
  background-color: rgb(231, 224, 162);
}

/* ------ Create Post Dialog ------ */
dialog {
  font-size: 1.3em;
  background-color: darkgray;
  width: 20em;
  /* height: 22em; */
  text-align: center;
  box-shadow: 0px 0px 100px black;
  border-radius: 1.5em;
}
dialog input {
  font-size: 1em;
}
dialog #submit-btn {
  border-radius: 20em;
  height: 2em;
  width: 8em;
  box-shadow: 0px 5px 5px black;
  background-color: rgb(167, 214, 167);
}
dialog #close-btn {
  position: relative;
  top: 1em;
  font-size: 0.75em;
  background-color: rgb(238, 195, 116);
  box-shadow: 0px 5px 5px black;
  border-radius: 1em;
}

/* ------ Users (table) ------ */
table {
  border-collapse: collapse;
  background-color: darkgray;
  box-shadow: 0px 0px 25px black;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 10%;
}
table img {
  height: 5em;
}
th {
  font-size: 120%;
  height: 30px;
}
#user_mail,
#user_name,
#user_phone,
#user_title {
  border-left: 3px solid black;
}
tr {
  border-bottom: 3px solid black;
}
td {
  text-align: center;
  border-right: 3px solid black;
}
td:last-child {
  border-right: none;
}
